.header {
  top: 40px;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  border-radius: 40px;
  background: #fff;
}

.header .inner-menu ul li {
  margin-left: 45px;
}

.header .inner-menu ul li a {
  color: var(--color-text);
  font-weight: 500;
  font-size: 13px;
}

.header .inner-logo img {
  width: auto;
  height: 35px;
}
.header .inner-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .inner-menu ul li a:hover {
  color: var(--color-two);
  transition: all 0.3s ease 0s;
}

.header .inner-menu ul li a.active {
  color: var(--color-two);
}

.section-one {
  display: flex;
  background-image: url(banner.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  align-items: center;
}
.section-one .inner-wrap {
  color: #fff;
  text-align: center;
  /* padding: 290px; */
  max-width: 530px;
  margin: 0 auto;
}
.section-one .inner-wrap .inner-title {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 54px;
}
.section-one .inner-wrap .inner-desc {
  font-size: 15px;
  margin-bottom: 40px;
}

.section-two .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  margin-top: -200px;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.section-two .inner-box:hover {
  padding: 50px;
}
.section-two .inner-box .inner-icon {
  display: inline-flex;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  padding: 44px;
  border-radius: 50%;
}

.section-two .inner-title {
  margin-top: 30px;
}

.section-two .inner-desc {
  font-size: 14px;
  opacity: 40%;
  margin-top: 20px;
}

.section-three {
  margin-top: 80px;
}

.section-three .inner-icon {
  text-align: center;
}
.section-three .inner-icon img {
  max-width: 100%;
  height: auto;
}
.section-three .inner-desc {
  margin-top: 40px;
  opacity: 50%;
  font-size: 18px;
}
.break-line .hr {
  width: 100%;
  height: 1px;
  border: 1px solid #eee;
  margin-top: 100px;
}
.section-four {
  margin-top: 80px;
}

.section-four .inner-icon {
  text-align: center;
}
.section-four .inner-icon img {
  max-width: 100%;
  height: auto;
}
.section-four .inner-desc {
  margin-top: 40px;
  opacity: 50%;
  font-size: 18px;
}

.section-five {
  background-image: url(banner-2.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  background-position: center center;
  height: 80vh;
  margin-top: 100px;
}

.section-five .inner-wrap {
  color: #fff;
  text-align: center;
}

.section-five .inner-desc {
  font-size: 15px;
  opacity: 60%;
}
.section-five .inner-wrap .inner-desc {
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  opacity: 90%;
  line-height: 25px;
}

.section-five .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 25px 30px;
  border-radius: 30px;
  width: auto;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  opacity: 0.999;
  margin-top: 50px;
  transition: all 0.3s ease-in-out 0s;
}

.section-five .inner-box:hover {
  margin-top: 20px;
}

.section-five .inner-box .inner-title {
  margin-top: 20px;
  font-weight: 350;
  font-size: 18px;
}

.section-five .inner-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  bottom: -10px;
  right: -15px;
  margin: auto;
  border-radius: 20px;
}
